<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {//标题}
        {block name="title"}{$title}{/block}
    </title>
    {// 引入的css文件}
    {block name="include-css"}
    {include file="common/css"}
    {/block}

    {//自定义css}
    {block name="css"}
    <style>
        .layui-icon {
            font-size: 16px;
        }
    </style>
    {/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {//头部}
    {block name="header"}
    <div class="layui-header">
        <div class="layui-logo">The First One</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">控制台</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户</a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/all">用户管理</a></dd>
                    <dd><a href="/user/add">新增用户</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span class="layui-bg-blue layui-nav-img"
                          style="width: 30px;height: 30px; text-align:center;line-height:30px;display:inline-block;border-radius: 50%;vertical-align: middle;">
                        {:mb_substr($Think.session.admin.name, 0, 1, 'UTF-8')}
                    </span>
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img layui-hide">{$Think.session.admin.name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>
    {/block}

    {//左栏}
    {block name="left"}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe60a;</i> 合同</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/contract/add">新增合同</a></dd>
                        <dd><a href="/contract/all">全部合同</a></dd>
                        <dd><a href="/contract/expiring">即将到期</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe613;</i> 审批</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/node/approval/{$Think.session.admin.id}">我审批的</a></dd>
                        <dd><a href="/approval/user/{$Think.session.admin.id}">我发起的</a></dd>
                        <dd><a href="javascript:;">未通过的审批</a></dd>
                        <dd><a href="/approval/all">全部审批</a></dd>
                        <dd><a href="/approval/add">新建审批</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe614;</i> &nbsp;设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/category/all">合同分类</a></dd>
                        <dd><a href="/category/add">新增合同分类</a></dd>
                        <dd><a href="/type/all">合同类型</a></dd>
                        <dd><a href="/type/add">新增合同类型</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe613;</i> 客户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/customer/all">客户列表</a></dd>
                        <dd><a href="/linkman/all">联系人列表</a></dd>
                        <dd><a href="/customer/add">新增客户</a></dd>
                        <dd><a href="/linkman/add">新增联系人</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe62c;</i> 日志</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">合同修改记录</a></dd>
                        <dd><a href="javascript:;">用户登录记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">上传</a></li>
                <li class="layui-nav-item"><a href="">其它</a></li>
            </ul>
        </div>
    </div>
    {/block}

    {//主体内容}
    <div class="layui-body">
        <div class="layui-tab" lay-filter="bodyTab">
            <ul class="layui-tab-title">
                <li class="layui-this">{$title}</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">
                    <div style="padding: 10px;">
                        {block name="content"}
                        <!-- 内容主体区域 -->
                        内容主体区域
                        {/block}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {//底部}
    <div class="layui-footer">
        {block name="footer"}
        <!-- 底部固定区域 -->
        © uniteedu.cn - 联创优学 - 禾瑞技术支持 kf@kvstone.net
        {/block}
    </div>
</div>

{// block other 这里放置其它内容 比如通过DOM调用的layer弹出层content}
{block name="other"}{/block}

{// 包含的js文件}
{block name="include-js"}
{include file="common/js"}
{/block}

{// 自定义的js代码}
{block name="js"}
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
{/block}
</body>
</html>