<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {//标题}
        {block name="title"}{$title}{/block}
    </title>
    {// 引入的css文件}
    {block name="include-css"}
        {include file="common/css"}
    {/block}

    {//自定义css}
    {block name="css"}
        <style>
            .layui-icon {
                font-size: 16px;
            }
        </style>
    {/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{//头部}
{block name="header"}
    <div class="layui-header">
        <div class="layui-logo">The First One</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户</a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/all">用户管理</a></dd>
                    <dd><a href="/user/add">新增用户</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">管理员</a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
{/block}

{//左栏}
{block name="left"}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe60a;</i> 合同管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">新增合同</a></dd>
                        <dd><a href="javascript:;">全部合同</a></dd>
                        <dd><a href="javascript:;">即将到期</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe613;</i> 合同审批</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">全部审批</a></dd>
                        <dd><a href="javascript:;">待审批</a></dd>
                        <dd><a href="javascript:;">未通过的审批</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe614;</i> &nbsp;合同设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">审批流程</a></dd>
                        <dd><a href="javascript:;">合同分类</a></dd>
                        <dd><a href="javascript:;">修改记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe613;</i> 客户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">客户列表</a></dd>
                        <dd><a href="javascript:;">联系人列表</a></dd>
                        <dd><a href="javascript:;">新增客户</a></dd>
                        <dd><a href="javascript:;">新增联系人</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe62c;</i> 日志</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">合同修改记录</a></dd>
                        <dd><a href="javascript:;">用户登录记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">合同上传</a></li>
                <li class="layui-nav-item"><a href="">其它管理</a></li>
            </ul>
        </div>
    </div>
{/block}

{//主体内容}
<div class="layui-body">
    <div class="layui-tab" lay-filter="bodyTab">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title}</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <div style="padding: 10px;">
                    {block name="content"}
                    <!-- 内容主体区域 -->
                    内容主体区域
                    {/block}
                </div>
            </div>
        </div>
    </div>

</div>

{//底部}
<div class="layui-footer">
    {block name="footer"}
    <!-- 底部固定区域 -->
    © uniteedu.cn - 联创优学 - 禾瑞技术支持 kf@kvstone.net
    {/block}
</div>
</div>
{// 包含的js文件}
{block name="include-js"}
{include file="common/js"}
{/block}

{// 自定义的js代码}
{block name="js"}
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;
    });
</script>
{/block}
</body>
</html>