{extend name="common/base"}
{block name="content"}
<div class="layui-container">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">合同分类名称</label>
            <div class="layui-input-block">
                <input value="{$category.name}" type="text" name="name" required lay-verify="required" placeholder="请填写合同分类名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="note" placeholder="请输入内容" class="layui-textarea">{$category.note}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="location.href='/category/all'">返回</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="js"}
{__block__}
<script>
    layui.use(['form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            var index1 = layer.load(1);
            console.log(data.field)
            $.post({
                type: 'POST',
                url: '/category/edit/{$category.id}',
                data: data.field,
                success: function (result) {
                    if (result == 1) {
                        console.log(result);
                        layer.close(index1);
                        layer.msg('修改成功');
                    } else {
                        layer.msg('修改失败');
                        console.log(result)
                    }
                },
                error: function (error) {
                    layer.close(index1);
                    console.log(error);
                    layer.msg('修改失败，网络或服务器内部错误');
                }
            });
            return false;
        });
    });

</script>
{/block}